{% load static %}
<head>
	<title>{{ name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
	<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'jquery/jquery.cookie.js' %}"></script>
	<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
	<script defer src="{% static 'js/fontawesome/fontawesome-all.js' %}"></script>
	<script src="{% static 'js/csfr.js' %}"></script>
</head>
<body>
	<div class="main" style="min-height: 100%; min-width: 100%;">
		<div class="nav-bar" style="min-width: 100%; height: 60px;">
			<a href = "{% url 'index' %}">
				<div style="display: inline-block; float:left; width: 200px">
					<img class="logo" src="/media_root/logo.png" alt="Bop Logo" style="margin-left: 15px;">
				</div>
			</a>
			{% if user.is_authenticated %}
			<a href="{% url 'userpage' user.id%}">
				<div class="nav-item" style="color: white; display: inline-block; float:right; width: 250px; height: 100%; text-align: center; border: solid; border-width: 0px; border-left-width: 1px;">
					{% if user.profile.profilePicture.url != '' %}
					<img class="profile-picture" src="{{user.profile.profilePicture.url}}" alt="Profile Picture" style="margin-left: 15px;">
					{% else %}
					<img class="profile-picture" src="/media_root/profile_pictures/default.png" alt="Profile Picture" style="margin-left: 15px;">
					{% endif %}
					<div class="user-name">{{ user.profile.userName }}</div>
				</div>
			</a>
			<a href = "{% url 'bopsomeone' %}">
				<div class="nav-item {% if current_page == 'bop_someone' %} active {% endif %}" style="color: white; display: inline-block; float:left; width: 200px; height: 100%; text-align: center; border: solid; border-width: 0px; border-left-width: 1px;">
					<div style="font-size: 22px; font-weight: bolder; margin-top:15px;">Bop Someone!</div>
				</div>
			</a>
			<a href = "{% url 'groups' %}">
				<div class="nav-item {% if current_page == 'group' %} active {% endif %}" style="color: white; display: inline-block; float:left; width: 200px; height: 100%; text-align: center; border: solid; border-width: 0px; border-left-width: 1px; border-right-width: 1px;">
					<div style="font-size: 22px; font-weight: bolder; margin-top:15px;">My Groups</div>
				</div>
			</a>
			<div id="logout" class="nav-item {% if current_page == 'group' %} active {% endif %}" style="color: white; display: inline-block; float:left; width: 200px; height: 100%; text-align: center; border: solid; border-width: 0px; border-left-width: 1px; border-right-width: 1px;">
					<div style="font-size: 22px; font-weight: bolder; margin-top:15px;">Log Out</div>
			</div>
			{% endif %}
		</div>
		{% block content %}
		{% endblock %}
	</div>
</body>
<script src="{% static 'js/logout.js' %}"></script>
