{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class='register'>
	<div style="font-size: 48px; font-weight: bolder; margin: auto;">{{group.groupName}}</div>
	<div class='register_form'> 
		<h1>Register for Bop!</h1>
		<span style="color:white; font-size:18px; font-weight: bolder;">Username: </span>
		<input id="username" type="text" placeholder="Create your username" required></input>
		
		<span style="color:white; font-size:18px; font-weight: bolder;">Password: </span>
		<input id="password" type="password" placeholder="Choose your password" required></input>
		
		<span style="color:white; font-size:18px; font-weight: bolder;">Email: </span>
		<input id="email" type="text" placeholder="Add your email" required></input>
		
		<br>
		<div id="register-btn" id="register">REGISTER</div>

</div>

<script src="{% static 'js/regacc.js' %}"></script>

{% endblock %}