
.main {
	background: #432e64;
}

.nav-bar {
	background: #0E004A;
}

.nav-item:hover {
	background: #281A66;	
	cursor: pointer;
}

.profile-picture {
	height: 40px;
	width: 40px;
	border-radius: 10px;
	display: inline-block;
	margin-top: 5px;
}

.user-name {
	margin-top: 10px; 
	display: inline-block; 
	float:left; 
	margin-left: 20px; 
	font-weight: bolder; 
	font-size: 22px; 
}

.bop {
	background:#0E004A;
	width: 50%;
	height: 120px;
	margin: auto;
	margin-top:50px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom: 10px;
}