
.main {
	background: #432e64;
}

.bop-btn {
	background:#FFB326;
	border-radius: 5px;
	width: 150px;
	height: 60px;
	margin: auto;
	margin-top: 10px;
	font-weight: bolder;
	font-size: 24px;
	padding-top: 8px;
	border: solid;
	border-width: 5px;
	border-color: white;
}


.user-link {
	color:white;
	text-decoration: none !important;
}

.user-link:hover {
	color: #FCCB6F;
}

.bop-btn:hover {
	cursor: pointer;
	background: #FCCB6F;
}

.nav-bar {
	background: #0E004A;
	border: solid;
	border-width: 0px;
	border-color: white;
	border-bottom-width: 1px;
}

.friend:hover {
	background: #281A66;	
	cursor: pointer;
}

.active {
	background: #281A66;
}

.nav-item:hover {
	background: #281A66;	
	cursor: pointer;
}

.profile-picture {
	height: 40px;
	width: 40px;
	border-radius: 10px;
	display: inline-block;
	margin-top: 10px;
}

.user-name {
	margin-top: 15px; 
	display: inline-block; 
	float:left; 
	margin-left: 20px; 
	font-weight: bolder; 
	font-size: 22px; 
}

.bop {
	background:#0E004A;
	width: 50%;
	height: 120px;
	margin: auto;
	margin-top:50px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom: 10px;
	border: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 2px;
}

.exit:hover {
	background: #281A66;	
	cursor: pointer;
}

.exit {
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	color: white;
	border-color: white;
	border: solid;
	border-width: 2px;
}

.logo {
	height: 100px;
	position: relative;
	bottom:20px;
}