.main {
	background: #432e64;
}

.bop-btn {
	background:#FA8505;
	border-radius: 5px;
	width: 150px;
	height: 60px;
	margin: auto;
	margin-top: 10px;
	font-weight: bolder;
	font-size: 24px;
	padding-top: 8px;
	border: solid;
	border-width: 5px;
	border-color: white;
}

.user-link {
	color:white;
	text-decoration: none !important;
}

.user-link:hover {
	color: #FCCB6F;
}

.bop-btn:hover {
	cursor: pointer;
	background: #FCCB6F;
}

.nav-bar {
	background: #0E004A;
	border: solid;
	border-width: 0px;
	border-color: white;
	border-bottom-width: 1px;
}

.friend:hover {
	background: #281A66;	
	cursor: pointer;
}

.active {
	background: #281A66;
}

.nav-item:hover {
	background: #281A66;	
	cursor: pointer;
}

.profile-picture {
	height: 40px;
	width: 40px;
	border-radius: 10px;
	display: inline-block;
	margin-top: 10px;
}

.user-name {
	margin-top: 15px; 
	display: inline-block; 
	float:left; 
	margin-left: 20px; 
	font-weight: bolder; 
	font-size: 22px; 
}

.bop {
	background:#0E004A;
	width: 50%;
	height: 120px;
	margin: auto;
	margin-top:50px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom: 10px;
	border: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 2px;
}

.logo {
	height: 100px;
	position: relative;
	bottom:20px;
}

.register
{
	background-color: #432e64;
	width: 100%;
	height: 100%;
}

.register_form
{
	margin: 0 auto;
	width: 60%;
	height: 500px;
	background-color: #0E004A;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-top: 50px;
}

.register_form h1
{
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top: 5px;
	padding-bottom: 15px;
}

.register_form input
{
	margin: 0 auto;
	display:block;
	margin-bottom:25px;
	padding: 5px;
}

.register_form label
{
	margin-bottom: 10px;
	padding-bottom: 0px;
	color: grey;
	font-size: 18px;
}

#register-btn
{
	background:#FA8505;
	border-radius: 5px;
	width: 150px;
	height: 60px;
	margin: auto;
	margin-top: 10px;
	font-weight: bolder;
	font-size: 24px;
	padding-top: 8px;
	border: solid;
	border-width: 5px;
	border-color: white;
	color: white;
}
